.indvWord {
  height: 45px;
  width: 45px;
  background-color: rgb(215, 224, 221);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  border: none;
  gap: 5px;
  font-size: 20px;
  border-radius: 2px;
}
.currentWordContainer {
  display: flex;
  gap: 10px;
}
.keyboardBtn {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  background-color: orange;
  color: white;
  border: none;
  font-size: 21px;
  font-weight: 600;
}
.keyboarContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 600px;
  gap: 10px;
}
